<h2>Create Products</h2>
<a href="/products">Product List</a>

<form action="/form-products" method="post">
Name: <input type="text" name="name">
<br>
Price: <input type="text" name="price">
<br>
<button type="submit">Enviar</button>
</form>