<h2>Products Real Time</h2>

<form id="myForm">
Name: <input type="text" name="name">
<br>
Price: <input type="text" name="price">
<br>
<button type="submit">Enviar</button>
</form>

<hr>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Title</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    document.getElementById('myForm').onsubmit = e => {
        e.preventDefault()

        const name = document.querySelector('input[name=name]').value
        const price = parseInt(document.querySelector('input[name=price]').value)
        const product = {name, price}
        socket.emit('new-product', product)
    }

    socket.on('reload-table', products => {
        console.log(products)
        const tbody = document.getElementById('tbody')
        let html = '';
            products.forEach(product => {
                html += `<tr>
                <td>${product.id}</td>
                <td>${product.description}</td>
                <td>${product.title}</td>
                <td>${product.price}</td>
                </tr>`
            })
            tbody.innerHTML = html
    })

    

</script>